<launch>

    <node pkg="att_so3" type="att_so3_publisher" name="ms_att" output="screen" respawn="true">

        <param name="k_g" value="[1,1,1]" type="string" />
        <param name="k_north" value="[1,1,1]" type="string" />
        <param name="r0" value="[0,0,0]" type="string" />
        <param name="r_align" value="[0,0,3.14]" type="string" />
	<param name="lat" value="32.4" type="string" />
  	<param name="frame_id" type="string" value="ms"/>


    </node>

</launch>